doctype

html
  head
    meta(charset='UTF-8')
    title よこめとは
    link(rel='stylesheet', href='styles/index.css')
    script(src="js/jquery-1.11.3.min.js")
  body
      .info
        .text 
          p よこめとは、
          p 新潟県魚沼市横根集落が
          p まちをあげて育ているお米です。
        .map
          img(src="images/nigata_map.png")
        .yokone
          p 新潟県魚沼市横根集落
        .scroll
          img(src="images/scroll.svg")
        .VR
          img(src="images/VR.png")
  script(type="text/javascript" src="js/skrollr.min.js")
