doctype

html
	head
		link(rel='stylesheet', type='text/css', href='styles/reset.css')
		link(rel='stylesheet', type='text/css', href='styles/index.css')
		link(rel='stylesheet', type='text/css', href='styles/top.css')
		link(rel='stylesheet', type='text/css', href='styles/information.css')
		link(rel='stylesheet', type='text/css', href='styles/person.css')
	body
		div.container
			section#top トップの中身
			section#information インフォメーションの中身
			section#person
				div.test よこめをつくっている人たち
				div.person 
					div.face
						section.yokone1
							img(src='../images/yokone1.png', width='152', height='152', alt='yokone1')
							br
							佐藤　亘
						section.yokone2
							img(src='../images/yokone2.png', width='152', height='152', alt='yokone2')
							br
							佐藤　亘
						section.yokone3
							img(src='../images/yokone1.png', width='152', height='152', alt='yokone3')
							br
							佐藤　亘
						section.yokone4
							img(src='../images/yokone1.png', width='152', height='152', alt='yokone4')
							br
							佐藤　亘
						section.yokone5
							img(src='../images/yokone1.png', width='152', height='152', alt='yokone5')
							br
							佐藤　亘
					div.face2
						section.yokone1
							img(src='../images/yokone1.png', width='152', height='152', alt='yokone1')
							br
							佐藤　亘
						section.yokone2
							img(src='../images/yokone1.png', width='152', height='152', alt='yokone2')
							br
							佐藤　亘
						section.yokone3
							img(src='../images/yokone1.png', width='152', height='152', alt='yokone3')
							br
							佐藤　亘
						section.yokone4
							img(src='../images/yokone1.png', width='152', height='152', alt='yokone4')
							br
							佐藤　亘
						section.yokone5
							img(src='../images/yokone1.png', width='152', height='152', alt='yokone5')
							br
							佐藤　亘


	



//- 作成したコードを該当するセクションの下に貼付ける(インデントを一つあげる)